.error {
    color: red;
    font-size: 12px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

button {
    width: 120px;
    height: 60px;
    color: white;
    cursor: pointer;
    background-color: #e6381f;
    border-radius: 18px;
    position: absolute;
    bottom: 10px;
    right: 40px;
}

button:disabled {
    background-color: #a06c64;
}

/* Main pokemons container */

.poke-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    padding-bottom: 60px;
}

.pokemon-general-details {
    height: 250px;
    width: 250px;
    background-color: #213b44;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 8px 0;
    cursor: pointer;
}

.pokemon-general-details:hover{
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgba(250, 248, 248, 0.8);
}

.poke-background {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-background img {
    height: 140px;
    width: 140px;
}

.abilities-general {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

h3 {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

audio {
    width: 80px;
    height: 80px;
}

.play-btn {
    height: 48px;
    width: 48px;
    cursor: pointer;
}

/* Single pokemon container */

.main-overlay {
    background-color: rgba(9, 38, 48, 0.3);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
}

#single_pokemon_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 500px;
    border: 2px solid #9dacb1;
    border-radius: 20px;
    padding: 8px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #52676e;
}

.single-pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.single-pokemon-img{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.single-pokemon-img img {
    height: 150px;
    width: 150px;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    background-color: #11485a;
    padding: 8px;
}

.stats a {
    color: white;
}

.stats a:hover {
    color: rgb(73, 187, 73);
}


.table-about {
    display: flex;
    justify-content: center;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.table-about td {
  padding: 8px 16px;
  vertical-align: top;
}

.table-about td:first-child {
  width: 120px;
}

.table-about td:last-child {
  text-align: left;
}

.arrow-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.arrow-buttons img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 6px #b4ff3c) brightness(1.2);
}

/* Stats-template */

.stat-bar {
  width: 100px;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 4px;
}

.fill {
  height: 100%;
  background-color: #49bb49;
  transition: width 0.5s ease;
}

/* Evo-chain */
.pokemons-evo-chain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}

.evo-chain-imgs {
    height: 48px;
    width: 48px;
}

/* Spinner overlay */

.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
    background-color: #213b44;
}

.spinner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.spinner{
    animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}



