.grass{
    background-color: #7fdb60;
}

.fire {
    background-color: #f08030;
}

.water {
    background-color: #72c6ff;
}

.bug {
    background-color: #d0e6d2;
}

.normal {
    background-color: lightgrey;
}

.poison {
    background-color: #e8d5ec;
}

.electric {
    background-color: rgb(23, 145, 175);
}

.ground {
    background-color: rgba(139, 53, 53, 0.247);
}

.fairy {
    background-color: pink;
}