.grass{
    background-color: #7fdb60;
}

.fire {
    background-color: #f08030;
}

.water {
    background-color: #72c6ff;
}

.bug {
    background-color: #d0e6d2;
}

.normal {
    background-color: lightgrey;
}

.poison {
    background-color: #e8d5ec;
}

.electric {
    background-color: rgb(23, 145, 175);
}

.ground {
    background-color: rgba(139, 53, 53, 0.247);
}

.fairy {
    background-color: pink;
}

.fighting {
    background-color: #2F4F4F;
}

.psychic {
    background-color: #6A5ACD;
}

.rock {
    background-color: #8B7D6B;
}

.ghost {
    background-color: #C0C0C0;
}

.ice {
    background-color: #ADD8E6;
}

.dragon {
    background-color: #6A0DAD;
}

.dark {
    background-color: #3B3B3B;
}